* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-color: #897962;
    background-image: url("../img/default-pattern.png");
    background-repeat: repeat;
}

.container {
    margin: 20px auto;
    width: 90%;
    /* background-color: white; /* da rimuovere */ */
}

h1, h2 {
    text-transform:uppercase;
}

ul{
    margin-top: 10px;
    margin-left: 15%;
}

li {
    line-height: 30px;
}

/********** HEADER **********/
header {
    height: 250px;
    padding: 10px;
    background-color: white;
}

header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/********** NAVBAR **********/
nav {
    height: 50px;
    background-color: #504741;
    position: relative;
    margin-bottom: 20px;
}

.menu-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
}

.menu-item {
    float: left;
    padding: 0 10px;
    height: 100%;
    border-right: 1px solid #42352c;
    line-height: 50px;
}

.menu-item:last-child {
    border-right: none;
}

.menu-item a {
    text-decoration: none;
    color: white;
}

.menu-item a:visited {
    color: white;
}

/********** SIDEBAR LEFT **********/
.sidebar-left {
    width: 20%;
    float: left;
}

.sidebar-left div {
    margin-bottom: 20px;
    padding: 20px;
    background-color: lightgreen;
}

/********** MAIN **********/
main {
    width: calc(60% - 40px);
    background-color: lightblue;
    float: left;
    margin: 0 20px 20px;
}

main div {
    padding: 20px;
    border-bottom: 1px solid black;
}

main div:last-child {
    border-bottom: none;
}

main h2 {
    margin-bottom: 10px;
}

/********** SIDEBAR RIGHT **********/
.sidebar-right {
    width: 20%;
    float: left;
}

.sidebar-right div {
    margin-bottom: 20px;
    padding: 20px;
    background-color: lightgreen;
}

.sidebar-right input[type="search"] {
    margin-right: 10px;
    width: 70%;
}

.sidebar-right input[type="submit"] {
    width: calc(30% - 14px);
}

/********** FOOTER **********/

footer {
    float: left;
    width: 100%;
    background-color: #9e6165;
}

footer div {
    width: 25%;
    padding: 20px;
    /* background-color: red; */
    float: left;
}
